// page-retrieve-password
.sub-title-box {
	padding:0 3rem 3rem;
  h3 {
    font-size: 1.88rem;
  }
  p{
  	font-size:1.38rem;
  }
}

.user-box {
  padding: 3rem 5rem;
  background: rgba(247, 249, 250, 1);
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(17, 17, 17, 0.3);
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  @media (max-width: $screen-sm) {
    padding: 3rem 1rem;
  }
  .el-form-item__content {
    button {
      width: 7rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .btn-box {
    margin-top: 4rem;
    text-align: center;
  }
  .input-notice {
    color: #858AA0;
    height: 1rem;
    margin-top: .3em;
    line-height: 1rem;
    font-size: 0.75rem;
  }
  .el-form-item__label {
    margin-bottom: 0;
    margin-top: 1rem;
    color: $primary;
    font-size: 1.13rem; // height: 1rem;
    line-height: 1.5rem;
  }
}
